/* HEADER PART */
body{
	margin-top:0px !important;
	padding:0px;
	top:0px;	
}

.fixedHeader {
	position: fixed;
    top:0;
    left:0;	
	width:100%;
	background-image:url(static/images/header.png);
	background-repeat:repeat-x;	
	z-index:20;	
}

.headerContent {
	margin-left:auto;
	margin-right:auto;
	padding-bottom:6px;
	width:960px;	
	height:55px;
}

.headerMenuWraper{
	float:right;	
}

.slidesLiveLogo {
	widows:300px;
	position:relative;
	top:13px;
	float:left;
}

.slidesLiveLogo:hover {
	position:relative;
	top:14px;
}

.headerTopSpace{
	height:55px;
	margin-top:0px;
}

/* FOOTER PART */
.siteFooter {	
	position:relative;
	top:-6px;
	width:100%;
	height:55px;
	background-image:url(static/images/footer.png);
	background-repeat:repeat-x;
}

.footerContent {
	margin-left:auto;
	margin-right:auto;
	padding-bottom:6px;
	width:960px;	
	height:40px;
}

/* TEXTS*/

.footerText {
	font-family:'Ropa Sans', sans-serif;
	font-weight:normal;
	font-size:15px;
	color:#999;
	position:relative;
	top:19px;
	text-decoration:none;
}

.headerMenu {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-transform:uppercase;
	font-size:13px;
	color:#999;
	position:relative;
	top:19px;
	text-decoration:none;
}


.headerMenu:hover{
	top:20px;
	color:#027BF7 !important;
}

/*-------------------ACCOUNT BAR----------------------*/
.accountServiceBar{
	position: fixed;
    top:55px;
    left:0;		
	background-color:#999999;
	width:100%;
	height:50px;
	z-index:20;		
}

.accountServiceBarTopSpace{
	height:50px;	
}

.accountBarContent {
	margin-left:auto;
	margin-right:auto;
	width:960px;	
	height:50px;		
}

.accountBarMenu {
	font-family:'Ropa Sans', sans-serif !important;
	font-size:20px;
	color:#999900;	
}

/*-------------------SPECIAL STUFF----------------------*/
.slidesLiveBlue {
	color:#027BF7 !important;
}

.slidesLiveBlue a{
	color:#027BF7 !important;
}

.globalFont{
	font-family:'Ropa Sans', sans-serif !important;
}

.bottomFree {
	margin-bottom:0px !important;
	padding-bottom:0px !important;
}

.topFree {
	margin-top:0px !important;
	padding-top:0px !important;
}

.center{
	display: block;
	text-align:center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.left{
	display: block;
	text-align:left !important;
}

.logoBeta {
	float:right;
	font-family:'Ropa Sans', sans-serif;
	font-weight:normal;
	font-size:13px;		
	position:relative;
	top:-3px;
	left: -2px;
	color:#FFFFFF;
	text-decoration:none;
	line-height:16px;
	text-align:center;
}


.playerPanel {
	height:331px;
	width:100%;
	text-align:center;
	z-index:18;	
}